{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- {{ fontawesome_html() }} -->
<!-- {% import "bootstrap/wtf.html" as wtf %} -->

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<body>
<div class="container one">
  <div class="row">
      <div  class=" jumbotron text-center text-lg">
          <p>{{quote.content}}</p>
          <footer><cite>{{quote.author}}</cite></footer>
      </div>
    </div>
    
</div>
<a href="/post/new" class="btn btn-primary">Add Blog post</a>
<div class="mine">
{{ macro.displayPosts(posts)}}
</div>
<div id='subscription'class='container two'>
    <div class="row">
        <div class="col-md-4">
            <h2>Subscribe here</h2>
            {{wtf.quick_form(subscription_form)}}
            
        </div>
    </div>
        
</div>
</body>

{% endblock %}